<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Information Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body style="background-color:rgb(255, 245, 225) ;" >
    <nav class="navbar nav-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="http://127.0.0.1:5000/">
            <h5 style="color:rgb(12, 24, 68)">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-shield-shaded" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 14.933a1 1 0 0 0 .1-.025q.114-.034.294-.118c.24-.113.547-.29.893-.533a10.7 10.7 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.8 11.8 0 0 1-2.517 2.453 7 7 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7 7 0 0 1-1.048-.625 11.8 11.8 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 63 63 0 0 1 5.072.56"/>
                  </svg>
            PREDA</h5>
       
          </a>
          <div class="d-flex">
            <form action="/heart" method="post" class="me-2">     
                <button type="submit" class="btn btn-heart ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-heart-pulse-fill" viewBox="0 0 16 16">
                        <path d="M1.475 9C2.702 10.84 4.779 12.871 8 15c3.221-2.129 5.298-4.16 6.525-6H12a.5.5 0 0 1-.464-.314l-1.457-3.642-1.598 5.593a.5.5 0 0 1-.945.049L5.889 6.568l-1.473 2.21A.5.5 0 0 1 4 9z"/>
                        <path d="M.88 8C-2.427 1.68 4.41-2 7.823 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C11.59-2 18.426 1.68 15.12 8h-2.783l-1.874-4.686a.5.5 0 0 0-.945.049L7.921 8.956 6.464 5.314a.5.5 0 0 0-.88-.091L3.732 8z"/>
                    </svg>
                </button>
            </form>
            <form action="/diabetes" method="post">     
                <button type="submit" class="btn ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-circle-half" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 0 8 1zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16"/>
                      </svg>
                </button>
            </form>
            <form action="/kidney" method="post">     
                <button type="submit" class="btn ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-cookie" viewBox="0 0 16 16">
                        <path d="M6 7.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m4.5.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3m-.5 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                        <path d="M8 0a7.96 7.96 0 0 0-4.075 1.114q-.245.102-.437.28A8 8 0 1 0 8 0m3.25 14.201a1.5 1.5 0 0 0-2.13.71A7 7 0 0 1 8 15a6.97 6.97 0 0 1-3.845-1.15 1.5 1.5 0 1 0-2.005-2.005A6.97 6.97 0 0 1 1 8c0-1.953.8-3.719 2.09-4.989a1.5 1.5 0 1 0 2.469-1.574A7 7 0 0 1 8 1c1.42 0 2.742.423 3.845 1.15a1.5 1.5 0 1 0 2.005 2.005A6.97 6.97 0 0 1 15 8c0 .596-.074 1.174-.214 1.727a1.5 1.5 0 1 0-1.025 2.25 7 7 0 0 1-2.51 2.224Z"/>
                      </svg>
                </button>
            </form>
            <form action="/cancer" method="post">     
                <button type="submit" class="btn ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-c-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.146 4.992c.961 0 1.641.633 1.729 1.512h1.295v-.088c-.094-1.518-1.348-2.572-3.03-2.572-2.068 0-3.269 1.377-3.269 3.638v1.073c0 2.267 1.178 3.603 3.27 3.603 1.675 0 2.93-1.02 3.029-2.467v-.093H9.875c-.088.832-.75 1.418-1.729 1.418-1.224 0-1.927-.891-1.927-2.461v-1.06c0-1.583.715-2.503 1.927-2.503"/>
                      </svg>
                </button>
            </form>
            <form action="/hepatitis" method="post">     
                <button type="submit" class="btn ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-capsule" viewBox="0 0 16 16">
                        <path d="M1.828 8.9 8.9 1.827a4 4 0 1 1 5.657 5.657l-7.07 7.071A4 4 0 1 1 1.827 8.9Zm9.128.771 2.893-2.893a3 3 0 1 0-4.243-4.242L6.713 5.429z"/>
                      </svg>
                </button>
            </form>
            <form action="/lung_cancer" method="post">     
                <button type="submit" class="btn ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-lungs-fill" viewBox="0 0 16 16">
                        <path d="M8 1a.5.5 0 0 1 .5.5v5.243L9 7.1V4.72C9 3.77 9.77 3 10.72 3c.524 0 1.023.27 1.443.592.431.332.847.773 1.216 1.229.736.908 1.347 1.946 1.58 2.48.176.405.393 1.16.556 2.011.165.857.283 1.857.24 2.759-.04.867-.232 1.79-.837 2.33-.67.6-1.622.556-2.741-.004l-1.795-.897A2.5 2.5 0 0 1 9 11.264V8.329l-1-.715-1 .715V7.214c-.1 0-.202.03-.29.093l-2.5 1.786a.5.5 0 1 0 .58.814L7 8.329v2.935A2.5 2.5 0 0 1 5.618 13.5l-1.795.897c-1.12.56-2.07.603-2.741.004-.605-.54-.798-1.463-.838-2.33-.042-.902.076-1.902.24-2.759.164-.852.38-1.606.558-2.012.232-.533.843-1.571 1.579-2.479.37-.456.785-.897 1.216-1.229C4.257 3.27 4.756 3 5.28 3 6.23 3 7 3.77 7 4.72V7.1l.5-.357V1.5A.5.5 0 0 1 8 1m3.21 8.907a.5.5 0 1 0 .58-.814l-2.5-1.786A.5.5 0 0 0 9 7.214V8.33z"/>
                      </svg>
                </button>
            </form>
        </div>
        </div>
      </nav>
    <div class="container" style="margin-left: 0px;margin-right: 0px; margin-top: 5vh;">
        <div class="row">
            <div class="col-sm-8">
                <form action="/submit_form_heart" method="post">
                    <div class="row mb-3">
                      <label for="age" class="col-sm-2 col-form-label">Age</label>
                      <div class="col-sm-4">
                        <input type="text" class="form-control" id="age" name="age">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="RestingBP" class="col-sm-2 col-form-label">RestingBP</label>
                      <div class="col-sm-4">
                        <input type="text" class="form-control" id="RestingBP" name="RestingBP" placeholder="e.g. 160">
                      </div>
                    </div>
                    <div class="row mb-3 ">
                        <div class="col-sm-6">
                            <select class="form-select " aria-label="Default select example" name="sex">
                                <option selected>Gender</option>
                                <option value="F">Female</option>
                                <option value="M">Male</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <select class="form-select " aria-label="Default select example" name="chestPain">
                                <option selected>Chest Pain Type</option>
                                <option value="NAP">Non-Anginal Pain</option>
                                <option value="ASY">Asymptomatic</option>
                                <option value="ATA">Atypical Angina</option>
                                <option value="TA">Typical Angina</option>
                            </select>
                        </div>
                        
            
                    </div>
                    <div class="row mb-3 ">
                        <div class="col-sm-6">
                            <select class="form-select " aria-label="Default select example" name="fastingBP">
                                <option selected>FastingBP</option>
                                <option value="1">Yes</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <select class="form-select " aria-label="Default select example" name="restingECG">
                                <option selected>Resting ECG</option>
                                <option value="Normal">Normal</option>
                                <option value="ST">ST</option>
                          
                            </select>
                        </div>
                        
            
                    </div>

                    <div class="row mb-3">
                        <label for="OldPeak" class="col-sm-2 col-form-label">Old Peak</label>
                        <div class="col-sm-4">
                          <input type="text" class="form-control" id="OldPeak" placeholder="e.g. 1.5 " name="OldPeak">
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="maxHR" class="col-sm-2 col-form-label">Maximum Heart Rate</label>
                        <div class="col-sm-4">
                          <input type="text" class="form-control" id="maxHR" placeholder="156" name="maxHR">
                        </div>
                      </div>
                      <div class="row mb-3 ">
                        <div class="col-sm-6">
                            <select class="form-select " aria-label="Default select example" name="exerciseAngina">
                                <option selected>Exercise Angina</option>
                                <option value="N">No</option>
                                <option value="Y">Yes</option>
                            </select>
                        </div>
                        <div class="col-sm-6">
                            <select class="form-select " aria-label="Default select example" name="st_slope">
                                <option selected>ST Slope</option>
                                <option value="Flat">Flat</option>
                                <option value="Up">Up</option>
                          
                            </select>
                        </div>
                        
            
                    </div>
                    <div class="row mb-3">
                        <label for="cholesterol" class="col-sm-2 col-form-label">Cholesterol</label>
                        <div class="col-sm-4">
                          <input type="text" class="form-control" id="cholesterol" placeholder="" name="cholesterol">
                        </div>
                      </div>
                    <button type="submit" class="btn btn-primary submit-btn">Submit</button>
                  </form>
            </div>
            <div class="col-sm-4">
                <div class="result_side">
                    {% if show_div==1 %}
                    <div id="result"  style="display:inline-block;">
                        <img src="../static/images/urgent.png" alt="" height="200vh" width="200 vh">
                        <p class="p-tag" style="text-align: center;">{{disease}}</p>
                    </div>
                    {% elif show_div==2 %}
                        <div id="result" style="display:inline-block;">
                            <img src="../static/images/relax.png" alt="" height="200vh" width="200 vh">
                            <p class="p-tag" style="text-align: center;">{{disease}}</p>
                        </div>
                    {% else %}
                        <div id="result" style="display:inline-block;">
                            <img src="../static/images/thought.png" alt="" height="200vh" width="200 vh">
                            <p class="p-tag" style="text-align: center;">Give Your input</p>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>




    
    
    
</body>
</html>
